{{#partial "content"}}

    <h3>welcome</h3>
    <hr>
    <p><a href="/specials">Specials</a></p>
    <p><a href="/comedians">Comedians</a></p>
    <hr>
    <p><a href="/new_special">Add a new special</a></p>
    <p><a href="/new_comic">Add a new comic</a></p>

{{/partial}}
{{>layout.hbs}}