{{#block "header"}}
    <!doctype html>
    <html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <title>Stand up comedy specials</title>
    </head>
    <body>
    <div class="container">
    <h1>some stand up comedy</h1>
    <br>
{{/block}}
{{#block "content"}}

{{/block}}
{{#block "footer"}}
    </div>
    </body>
    </html>
{{/block}}